body {
  padding-top: 100px;
}

.separator {
  margin-top: 36px;
  margin-bottom: 36px;
  padding: 18px 36px;
  background: #eee;
  border-radius: 6px;
}

.separator h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
}

.light-footer {
  color: #aaa;
}
