<footer id="footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h3>{{ site.title | escape }}</h2>
    <div class="row">
      <div class="column">
          <ul class="contact-list">
            <li><a class="u-email" href="mailto:contact@aivillage.org">contact@aivillage.org</a></li>
          </ul>
      </div>
      <div class="column">
          <ul>
            <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><img src="/assets/images/github.png"> <span class="username">GitHub</span></a></li>
            
            <li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><img src="/assets/images/twitter.png"> <span class="username">Twitter</span></a></li>
          </ul>
      </div>  
    </div>


      

  </div>

</footer>