<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="{{ .Site.BaseURL }}">
      AI VILLAGE
    </a>
    {{ with .Site.Menus.main }}
    <ul class="navigation-list float-right">
      <li class="navigation-item">
        <a class="navigation-link" href="/events/vegas2018" style="color:red;">DEFCON26</a>
      </li>
      {{ range sort . }}
      <li class="navigation-item">
        <a class="navigation-link" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
      <span class="burger" href="javascript:void(0);" onclick="toggleBurger()">
        &#x25BC;
      </span>
    </ul>
    {{ end }}
  </section>
</nav>

<script type="text/javascript">
  function toggleBurger() {
    var x = document.getElementsByClassName("navigation")[0];
    if (x.className === "navigation") {
      x.className += " responsive";
    } else {
      x.className = "navigation";
    }
  }
</script>