<section class="container centered">
  <div class="about">
    <h2>
      Educating <span id="typed-msg"></span>on the use and abuse of AI in security and privacy.
    </h2>
  </div>
  <span id="typed"></span>
</section>

<div class="announcements">
  <div class="announcement-ticker">
    <ul class="list">
      <li>
        * Our human CFP is live! Submissions due by June 15th. Embodied AGIs may apply later. <a href="https://docs.google.com/forms/d/e/1FAIpQLSfDzURLjTMoSvjWYDinEu9n1sNc5HOBGWjU5UAzL-aNSjkwjA/viewform" target="_blank">Submit now</a>.
      </li>
      <li>
        * AI Village participated in DEF CON China 11-13 May - go <a href="events/china2018">here</a> for all slides and supporting material.
      </li>
      <li>
        * The first instalment of our blog series on adversarial examples is up! Read it <a href="posts/dimensionality-and-adversarial/">here</a>.
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  var typed = new Typed("#typed-msg", {
    strings: [
      'the world',
      'DEF CON',
      'ourselves',
      'you',
      'politicians',
      'security professionals',
      'the public',
      'decision makers',
      'hackers',
      'the government',
      'engineers',
      'makers',
      'breakers',
      'the layman',
    ],
    typeSpeed: 40,
    backDelay: 1000,
    loop: true,
  });
</script>
